    <!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<a href="/" class="footer-logo">
				<img src="images/unplugged-logo.png" alt="">
			</a>
			<ul class="main-menu footer-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/reviewlist">Reviews</a></li>
				<li><a href="/newslist">News</a></li>
				<li><a href="/staff">Contact</a></li>
			</ul>
		</div>
	</footer>
	<!-- Footer section end -->