    <!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<a href="#" class="footer-logo">
				<img src="images/unplugged-logo.png" alt="">
			</a>
			<ul class="main-menu footer-menu">
				<li><a href="homepage.html">Home</a></li>
				<li><a href="games.html">Games</a></li>
				<li><a href="reviewlist.html">Reviews</a></li>
				<li><a href="newslist1.html">News</a></li>
				<li><a href="staff.html">Contact</a></li>
			</ul>
		</div>
	</footer>
	<!-- Footer section end -->