<html>
    <%- include('../partials/head'); %>
	<%- include('../partials/header'); %>
<body>
    
    <!--Staff and writers section-->
    <section class="blog-section spad" style="padding-left: 260px;">
		<div class="container">
			<div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <h2 class="text-white">
                    <br>
                        The Staff and Writers at Unplugged Games
                    </h2>
                    <hr class="border-bottom" style="margin-bottom: -50px;">

                    <!-- Writer item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="images/staff/profil-rubin.jpg" alt="" style="height: 300; width: 300;">
                        </div>
                        <div class="text-box text-white" style="padding-right: 35px;">
                            <h4>Rubin Salim</h4>
                            <h6 style="color: rgb(196, 87, 14);">Founder and Writer <h6>Joined 8 - 9 - 2020</h6></h6>
                            <hr class="border-bottom">
                            <p style="color:#eeeeee"><b>Born in Decembers 1st, 1999, Rubin started gaming at an early age.
                                As a kid, he liked playing the Playstation 1 with his family.
                                <br>Rubin started Unplugged Games with his friends through their shared hobby of gaming.
                            </b>
                            </p>
                        </div>
                    </div>
                    <!-- Writer item -->

                    <!-- Writer item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                         <img src="images/staff/profil-charly.jpg" alt="" style="height: 300; width: 300;">
                        </div>
                            <div class="text-box text-white" style="padding-right: 35px;">
                                <h4>Charly Julio Aristama</h4>
                                <h6 style="color: rgb(196, 87, 14);">Founder and Writer <h6>Joined 8 - 9 - 2020</h6></h6>
                                <hr class="border-bottom">
                                <p style="color:#eeeeee"><b>My name is Charly Julio Aristama, I live in Jakarta, Indonesia, I am a student at Tarumanegara University. 
                                        I am a simple person who lives a simple life and has a hobby of playing games. I have a dream to become an IT professional.
                                </b>
                                </p>
                            </div>
                         </div>
                    <!-- Writer item -->

                    <!-- Writer item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="images/staff/profil-henry.jpg" alt="" style="height: 300; width: 300;">
                        </div>
                        <div class="text-box text-white" style="padding-right: 35px;">
                            <h4>Henry Tanujaya</h4>
                            <h6 style="color: rgb(196, 87, 14);">Founder and Writer <h6>Joined 8 - 9 - 2020</h6></h6>
                            <hr class="border-bottom">
                            <p style="color:#eeeeee"><b>My name is Henry Tanujaya, I live in Cianjur, Indonesia, I am a student at Tarumanegara University. 
                                I am a simple person who lives a simple life and has a hobby of playing games and watching youtube. I have a dream to be a successful person.
                            </b>
                            </p>
                        </div>
                    </div>

                    <!-- Writer item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="images/staff/profil-jecky.jpg" alt="" style="height: 300; width: 300;">
                        </div>
                        <div class="text-box text-white" style="padding-right: 35px;">
                            <h4>Jecky Afrianto</h4>
                            <h6 style="color: rgb(196, 87, 14);">Founder and Writer <h6>Joined 8 - 9 - 2020</h6></h6>
                            <hr class="border-bottom">
                            <p style="color:#eeeeee"><b>My name is Jecky Afrianto, I live in Papua, Indonesia, I am a student at Tarumanegara University. 
                                I am a simple person who lives a simple life and has a hobby of playing games and watching youtube. I have a dream to be a successful person.
                            </b>
                            </p>
                        </div>
                    </div>
                    <!-- Writer item -->      
                    
                    <!-- Writer item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="images/staff/profil-prinzky.jpg" alt="" style="height: 300; width: 300;">
                        </div>
                        <div class="text-box text-white" style="padding-right: 35px;">
                            <h4>Prinzky Lukito</h4>
                            <h6 style="color: rgb(196, 87, 14);">Founder and Writer <h6>Joined 8 - 9 - 2020</h6></h6>
                            <hr class="border-bottom">
                            <p style="color:#eeeeee"><b>My name is Prinzky Lukito, I live in Jakarta, Indonesia, I am a student at Tarumanegara University. 
                                I am a simple person who lives a simple life and has a hobby of playing games and Basketball. I have a dream to be a successful person.
                            </b>
                            </p>
                        </div>
                    </div>
                    <!-- Writer item -->      
                    
                    </div>  
                    </div>
                </div> 
        </section> 
        <!--Writer section end-->

        <%- include('../partials/footer'); %>

    <!--====== Javascripts & Jquery ======-->
    <%- include('../partials/script'); %>

</body>
</html>